<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 lte9 lte8 lte7" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8 lte9 lte8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9 lte9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="" lang="en">
<!--<![endif]-->
<head>
    <meta name='copyright' content='T&P Servicios Legales | Quiénes Somos'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Domain Default page</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <htm xml:lang="es" lang="es" xmlns="http://www.w3.org/1999/xhtm">
        <title>T&amp;P Servicios Legales | Quiénes Somos</title>
        <meta name="description" content="Somos una empresa de cobranzas especializada en soluciones efectivas para la recuperación de créditos vencidos, mediante procesos extrajudiciales y Judiciales." />
        <meta name="keywords" content="turbocobro legal mora deuda atrasos intimacion compulsivo recuperacion creditos vencidos" />
        <link rel="stylesheet" charset="utf-8" type="text/css" href="/estilos/comunes.css"></link>
        <link rel="stylesheet" charset="utf-8" type="text/css" href="/estilos/index.css"></link>
        <script type="text/javascript" src="/js/comunes.js">
        </script>
        <script type="text/javascript">
    function fecha() {
                var fecha = new Date();
                var textomes = new Array(12);
                textomes[1] = "Enero";
                textomes[2] = "Febrero";
                textomes[3] = "Marzo";
                textomes[4] = "Abril";
                textomes[5] = "Mayo";
                textomes[6] = "Junio";
                textomes[7] = "Julio";
                textomes[8] = "Agosto";
                textomes[9] = "Septiembre";
                textomes[10] = "Octubre";
                textomes[11] = "Noviembre";
                textomes[12] = "Diciembre";

                var diames = fecha.getDate();
                var mes = fecha.getMonth() + 1;
                var ano = fecha.getFullYear();

                return diames + " de " + textomes[mes] + " de " + ano;
            }



            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-39519577-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <div id="fondo_cabecera">
            <div id="cabecera">
                <h1><a href="/">T&amp;P Servicios Legales | Quiénes Somos</a></h1>
                <ul id="nav_util">
                    <li>
                        <script>
    document.write(fecha());
                        </script>
                    </li>
                    <li><a title="Home" class="home" href="/">Home</a></li>
                    <li><a title="Agregar a favoritos" class="favoritos" href="javascript:agregar()">Añadir a Favoritos</a></li>
                    <li><a title="Mapa Web" class="mapa" href="/mapa-web.htm">Mapa Web</a></li>
                </ul>
                <ul id="idiomas">
                    <li><a href="/about-us.htm">English</a></li>
                    <li>|</li>
                    <li><a href="/index.htm">Español</a></li>
                </ul>
                <ul id="menu_ppal">
                    <li><a class="actual" href="/">SOMOS</a></li>
                    <li><a href="/servicios.htm">SERVICIOS</a></li>
                    <li><a href="/noticias.htm">NOTICIAS</a></li>
                    <li><a href="/contactos.htm">CONTACTOS</a></li>
                    <li><a href="/clientes.htm">CLIENTES</a></li>
                    <li><a href="/acceso-clientes.htm">ACCESO CLIENTES</a></li>
                </ul>
            </div>
        </div>
        <div id="fondo_contenido">
            <div id="contenido">
                <div id="banner">
                    <object data="/banner.swf" width="1000" height="355" type="application/x-shockwave-flash"> <param name="movie" value="/banner.swf"></param> <param name="bgcolor" value="EFEBE7"></param> <param name="wmode" value="transparent"></param> </object>
                </div>
                <div id="interior">
                    <div class="titulo">
                        <div class="enlaces">
                            <ul>
                                <li><a title="Visítanos en Twitter" target="_blank" href="http://twitter.com/#!/TPCobros"><img src="/imagenes/comunes/twitter.gif" /></a></li>
                                <li><a title="Visítanos en Facebook" target="_blank" href="http://www.facebook.com/pages/TP-Servicios-Legales/104685032960310"><img src="/imagenes/comunes/facebook.gif" /></a></li>
                                <li><a title="Visítanos en Linkedin" target="_blank" href="http://www.linkedin.com/home?trk=hb_tab_home"><img src="/imagenes/comunes/linkedin.gif" /></a></li>
                                <li class="sin-borde"><a title="Suscríbete a nuestro RSS" target="_blank" href=""><img src="/imagenes/comunes/rss.gif" /></a></li>
                            </ul>
                        </div> <h2>EN MATERIA DE COBROS, SOMOS TU SOCIO ESTRATÉGICO!</h2>
                    </div>
                    <div class="desarrollo">
                        <div class="imagen">
                            <img alt="Quienes Somos" src="/imagenes/index/imagen.jpg" />
                        </div>
                        <div class="textos">
                            <p><span>Somos</span> una empresa de cobranzas especializada en soluciones efectivas para la recuperación de créditos vencidos, mediante procesos extrajudiciales y Judiciales.</p>
                            <p>
                                Nuestra mayor fortaleza es contar con un equipo de profesionales comprometidos,  que  destinan  sus conocimientos, energía y experiencia en proporcionarles a nuestros clientes la mejor y más personalizada
                                asesoría en sus asuntos legales apoyados por la plataforma tecnológica más avanzada del mercado.
                            </p>
                            <p>Convirtiéndonos en su socio estratégico, le permitirá incrementar su rentabilidad, reducir sus gastos y mantener su cartera de crédito en los niveles óptimos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fondo_pie">
            <div id="pie">
                <div class="derechos">
                    <p>© 2011 T&amp;P SERVICIO LEGALES</p>
                    <p>Todos los derechos reservados</p>
                    <p><a href="/aviso-legal.htm">AVISO LEGAL</a></p>
                </div>
                <div class="localizacion">
                    <p>Calle Andres Julio Aybar no. 204, Edificio Málaga II, 2do. Piso, Ensanche Piantini | Tel:. 809-331-8000 | Sto Dgo, Rep Dom.</p>
                </div>
            </div>
        </div>
    </htm>
</body>
</html>