@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}

<!-- Banner Wrapper Start -->
<div class="banner-wrapper">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero hidden-xs">
                    <h1>Better Web Hosting, For You.</h1>
                    <h3>Morbi libero in tortor, reprehenderit in voluptate velit esse</h3>
                    <a href="#" class="btn">View Details</a><a href="#" class="btn btn1">Sign Up Now</a>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero hidden-xs">
                    <h1>Advance web hosting, For You.</h1>
                    <h3>Morbi libero in tortor, reprehenderit in voluptate velit esse</h3>
                    <a href="#" class="btn">View Details</a><a href="#" class="btn btn1">Sign Up Now</a>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero hidden-xs">
                    <h1>Best Cloud Hosting, For You.</h1>
                    <h3>Morbi libero in tortor, reprehenderit in voluptate velit esse</h3>
                    <a href="#" class="btn">View Details</a><a href="#" class="btn btn1">Sign Up Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Wrapper End -->
<!-- Domain Search Styles Start -->
<div class="domain-search-wrapper">
    <div class="container">
        <div class="domain-search">
            <div class="search-section">
                <form method="get" id="domain-searchform" action="blog.html">
                    <div>
                        <input class="input-text" name="s" id="s" value="Enter your Domain Name here..." type="text">
                        <select class="witch">
                            <option value=".com">.com</option>
                            <option value=".co">.co</option>
                            <option value=".net">.net</option>
                            <option value=".org">.org</option>
                            <option value=".biz">.biz</option>
                            <option value=".us.com">.us.com</option>
                            <option value=".us">.us</option>
                            <option value=".mobi">.mobi</option>
                            <option value=".info">.info</option>
                        </select>
                        <input id="searchsubmit" value="Search" type="submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center domin-list section-lg"> .com <span class="font-thin">$3.95</span> <span class="space-pad"></span> .org <span class="font-thin">$5.95</span> <span class="space-pad"></span> .net <span class="font-thin">$7.95</span> <span class="space-pad"></span> .us <span class="font-thin">$5.99</span> <span class="space-pad"></span> .in <span class="font-thin">$9.95</span> <span class="space-pad"></span><small class="font13 font-thin">* All prices per annum</small></div>
    </div>
</div>
<!-- Domain Search Styles End -->
<!-- About Us -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h2>Welcome to pununo.com Hosting</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                <p>Proin at odio dignissim tellus vehicula rhoncus non in leo. Nulla velit augue, dignissim quis tincidunt at, condimentum eget nulla. In pellentesque euismod nisl ac iaculis. Quisque ut metus felis. </p>
                <a class="btn" href="#">Read More</a>
            </div>
            <div class="col-sm-12 col-md-4 pull-right hidden-sm"> <img src="https://placeholdit.imgix.net/~text?txtsize=60&bg=333&txtclr=cccccc&txt=360%C3%97270&w=360&h=270" alt=""> </div>
        </div>
    </div>
</div>
<!-- Key Features Start -->
<div class="key-features">
    <div class="container">
        <div class="title">
            <h2>Key Features</h2>
            <h3>We offer the best features on the market</h3>
            <span class="title-border"><img src="images/feature-icon.png" alt=""></span>
        </div>
        <div class="row">
            <div class="service-callouts">
                <div class="col-sm-4 service-block ">
                    <div class="col-sm-12 service-info">
                        <img src="images/icon1.png" alt="">
                        <h3><a href="#">Business Hosting</a> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur amet adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a class="btn" href="#">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-sm-4 service-block ">
                    <div class="col-sm-12 service-info">
                        <img src="images/icon2.png" alt="">
                        <h3><a href="#">Cloud Hosting</a> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur amet adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a class="btn" href="#">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-sm-4 service-block ">
                    <div class="col-sm-12 service-info">
                        <img src="images/icon4.png" alt="">
                        <h3><a href="#">Amazing Servers</a> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur amet adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <a class="btn" href="#">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Key Features End -->
<!-- Pricing Table Start -->
<div class="pricing-wrapper">
    <div class="container">
        <div class="title">
            <h2>Our Specifications</h2>
            <h3>Vestibulum aliquam erat eu dictum porttitor.<span>Aliquam feugiat risus lorem, non tempor purus egestas at.</span> </h3>
            <span class="title-border"><img src="images/feature-icon.png" alt=""></span>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricing-icon"> <i class="fa fa-globe"></i> </div>
                    <div class="price-Value"> <span class="currency">$</span>10 </div>
                    <span class="month">per month</span>
                    <div class="pricingHeader">
                        <h3 class="title">STANDARD</h3>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li><span>50GB</span> Disk Space</li>
                            <li><span>50</span> Email Accounts</li>
                            <li><span>50GB</span> Monthly Bandwidth</li>
                            <li><span>10</span> Subdomains</li>
                            <li><span>15</span> Domains</li>
                        </ul>
                    </div>
                    <a href="#" class="pricingTable-signup">Buy Now</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable active">
                    <div class="pricing-icon"> <i class="fa fa-rocket"></i> </div>
                    <div class="price-Value"> <span class="currency">$</span>20 </div>
                    <span class="month">per month</span>
                    <div class="pricingHeader">
                        <h3 class="title">Business</h3>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li><span>60GB</span> Disk Space</li>
                            <li><span>60</span> Email Accounts</li>
                            <li><span>60GB</span> Monthly Bandwidth</li>
                            <li><span>15</span> Subdomains</li>
                            <li><span>20</span> Domains</li>
                        </ul>
                    </div>
                    <a href="#" class="pricingTable-signup">Buy Now</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricing-icon"> <i class="fa fa-briefcase"></i> </div>
                    <div class="price-Value"> <span class="currency">$</span>30 </div>
                    <span class="month">per month</span>
                    <div class="pricingHeader">
                        <h3 class="title">Premium</h3>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li><span>70GB</span> Disk Space</li>
                            <li><span>70</span> Email Accounts</li>
                            <li><span>70GB</span> Monthly Bandwidth</li>
                            <li><span>20</span> Subdomains</li>
                            <li><span>25</span> Domains</li>
                        </ul>
                    </div>
                    <a href="#" class="pricingTable-signup">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Table End -->
<!-- offers Start -->
<div class="offer-wrapper fix">
    <div class="container">
        <div class="row">
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="single-skill">
                    <div class="progress-circular">
                        <input type="text" class="knob" value="0" data-rel="25" data-linecap="round" data-width="175" data-bgcolor="#ffffff" data-fgcolor="#ff5722" data-thickness=".10" data-readonly="true" disabled>
                        <h3>Off</h3>
                        <h4 class="progress-h4">Monthly</h4>
                        <h5>Code: XF235</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Curabitur lobortis.</p>
                        <a href="javascript:void(0)" class="btn">Start Today</a>
                    </div>
                </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="single-skill">
                    <div class="progress-circular">
                        <input type="text" class="knob" value="0" data-rel="35" data-linecap="round" data-width="175" data-bgcolor="#ffffff" data-fgcolor="#ff5722" data-thickness=".10" data-readonly="true" disabled>
                        <h3>Off</h3>
                        <h4 class="progress-h4">BRANDING</h4>
                        <h5>Code: XF235</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Curabitur lobortis.</p>
                        <a href="javascript:void(0)" class="btn">Start Today</a>
                    </div>
                </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="single-skill">
                    <div class="progress-circular">
                        <input type="text" class="knob" value="0" data-rel="45" data-linecap="round" data-width="175" data-bgcolor="#ffffff" data-fgcolor="#ff5722" data-thickness=".10" data-readonly="true" disabled>
                        <h3>Off</h3>
                        <h4 class="progress-h4">PHOTOGRAPHY</h4>
                        <h5>Code: XF235</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Curabitur lobortis.</p>
                        <a href="javascript:void(0)" class="btn">Start Today</a>
                    </div>
                </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="single-skill">
                    <div class="progress-circular">
                        <input type="text" class="knob" value="0" data-rel="55" data-linecap="round" data-width="175" data-bgcolor="#ffffff" data-fgcolor="#ff5722" data-thickness=".10" data-readonly="true" disabled>
                        <h3>Off</h3>
                        <h4 class="progress-h4">PRINT DESIGN</h4>
                        <h5>Code: XF235</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Curabitur lobortis.</p>
                        <a href="javascript:void(0)" class="btn">Start Today</a>
                    </div>
                </div>
            </div>
            <!-- single-skill end -->
        </div>
    </div>
</div>
<!-- offers End -->
<!-- Testimonials Start -->
<div class="testimonials-wrapper">
    <div class="title">
        <h2>Testimonials</h2>
        <span class="title-border"><img src="images/feature-icon.png" alt=""></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="wwd-wrapper">
                    <span> <i><img src="https://placeholdit.imgix.net/~text?txtsize=60&bg=333&txtclr=cccccc&txt=250%C3%97250&w=250&h=250" alt=""></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h3>“ Sunidhi Sargam ”</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wwd-wrapper">
                    <span> <i><img src="https://placeholdit.imgix.net/~text?txtsize=60&bg=333&txtclr=cccccc&txt=250%C3%97250&w=250&h=250" alt=""></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h3>“ Arjith Singh ”</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wwd-wrapper">
                    <span> <i><img src="https://placeholdit.imgix.net/~text?txtsize=60&bg=333&txtclr=cccccc&txt=250%C3%97250&w=250&h=250" alt=""></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h3>“ Arman Malik ”</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonials End -->
<!-- Fun Fact-wrapper Strat -->
<div class="fun-fact-wrapper">
    <div class="title">
        <h2>Some Fun Facts</h2>
        <span class="title-border"><img src="images/feature-icon1.png" alt=""></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-sm-3 counter">
                    <i><img src="images/fun-facts-icon1.png" alt=""></i>
                    <div class="number animateNumber" data-num="5325"> <span>5325</span></div>
                    <p>Hours of work</p>
                </div>
                <div class="col-sm-3 counter">
                    <i><img src="images/fun-facts-icon2.png" alt=""></i>
                    <div class="number animateNumber" data-num="160"> <span>160</span></div>
                    <p>Satisfied clients</p>
                </div>
                <div class="col-sm-3 counter">
                    <i><img src="images/fun-facts-icon3.png" alt=""></i>
                    <div class="number animateNumber" data-num="530"> <span>530</span></div>
                    <p>Projects Completed</p>
                </div>
                <div class="col-sm-3 counter">
                    <i><img src="images/fun-facts-icon1.png" alt=""></i>
                    <div class="number animateNumber" data-num="49"> <span>49</span></div>
                    <p>Awards Won</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fun Fact wrapper End -->
<!-- Trail wrapper Start -->
<div class="trail-wrapper">
    <div class="container">
        <div class="row">
            <h2>Get started now. <span>Try Hosting Free for 10 days.</span></h2>
            <a href="javascript:void(0)" class="btn">Start Today</a>
        </div>
    </div>
</div>
<!-- Trail wrapper End --> 


@*<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_top" })
        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_categories" })
        @await Component.InvokeAsync("HomepageCategories")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_products" })
        @await Component.InvokeAsync("HomepageProducts")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_best_sellers" })
        @await Component.InvokeAsync("HomepageBestSellers")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_news" })
        @await Component.InvokeAsync("HomepageNews")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_poll" })
        @await Component.InvokeAsync("HomepagePolls")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_bottom" })
    </div>
</div>*@
